/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 5rem;

  /* Colors */
  --first-color: #7985ff;
  --first-color-dark: #020c45;
  --text-color: #000000;
  --second-color: #00edb5;
  --third-color: #fffade;

  /* FONTS */
  --header-font: "Source Code Pro", monospace;
  --body-font: "Roboto", sans-serif;
  --biggest-font-size: 5rem;
  --h1-font-size: 4.25rem;
  --h2-font-size: 3.5rem;
  --h3-font-size: 2.25rem;
  --normal-font-size: 2rem;
  --small-font-size: 1.5rem;
  --smaller-font-size: 1rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* MARGENES */
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 2rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
  --mb-6: 6rem;

  /* Z INDEX */
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 54.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  background-color: var(--third-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  font-family: var(--header-font);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
  font-family: var(--header-font);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CLASSES */
.section {
  padding-top: 6rem;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .section {
    height: fit-content;
  }
}
.section_title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color-dark);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}

.section-subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-4);
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  width: 40rem;
}

.section-subtitle span {
  padding: 0 10px;
}

.green {
  background: var(--second-color);
}

.white {
  background: var(--third-color);
}

/* LAYOUT */
.bd-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .bd-container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-dark);
}

/* NAV */
.nav {
  height: calc(var(--header-height) + 2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
}

.nav_item {
  margin-left: var(--mb-5);
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    right: 0;
    top: 7rem;
    height: 100vh;
    position: absolute;
    background-color: var(--first-color-dark);
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    z-index: var(--z-fixed);
  }

  .nav_list {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 30vh;
    margin-top: 5rem;
  }
  .nav_item {
    margin-left: 0;
    margin-bottom: var(--mb-5);
  }
}

.nav_link {
  color: var(--second-color);
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--third-color);
}

.nav_logo {
  color: var(--second-color);
  font-family: var(--header-font);
}

.nav_toggle {
  display: flex;
  color: var(--second-color);
  font-size: 4rem;
  cursor: pointer;
  width: auto;
  height: auto;
}

@media screen and (min-width: 769px) {
  .nav_toggle {
    display: none;
  }
}

/* SHOW MENU */
.show-menu {
  transform: translateX(0);
}

/* ACTIVE MENU */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--third-color);
}

/* CHANGE BACKGROUND HEADER */
.scroll-header {
  background-color: var(--second-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle,
.scroll-header .nav_link {
  color: var(--first-color-dark);
}

.scroll-header .nav_menu {
  background-color: var(--second-color);
}

/* SCROLL TOP */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--first-color-dark);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop_icon {
  font-size: 4rem;
  color: var(--third-color);
}

/* SHOW SCROLL TOP */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
  z-index: var(--z-tooltip);
}

/* HOME */
.home {
  background-color: var(--first-color-dark);
  overflow: hidden;
}

.home_container {
  position: relative;
  height: 100vh;
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
}

@media screen and (max-width: 768px) {
  .home_container {
    padding: 0 2rem;
  }
}

.home_data {
  border-left: 4px solid var(--third-color);
  color: var(--third-color);
  padding-left: 1.5rem;
  z-index: var(--z-tooltip);
  margin-top: 20rem;
}

.home_profession {
  color: var(--second-color);
  margin-bottom: var(--mb-4);
}

.home_intro {
  margin-top: -2rem;
  display: block;
  width: min(70rem, 90%);
  margin-bottom: var(--mb-4);
}

@media screen and (max-width: 600px) {
  .home_intro {
    font-size: var(--h2-font-size);
  }
}

.home_img {
  position: absolute;
  bottom: 8rem;
  right: 0;
}

.home_img img {
  width: 70rem;
}

.home_social {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15rem;
}

@media screen and (max-width: 768px) {
  .home_social {
    flex-direction: column;
  }
}

.home_social-icon {
  width: max-content;
  font-size: 4rem;
  margin-bottom: var(--mb-2);
  color: var(--third-color);
  z-index: var(--z-tooltip);
  transition: 0.3s;
}

.home_social-icon:hover {
  color: var(--second-color);
}

/* BUTTONS */
.button {
  display: flex;
  padding: 0.75rem 3rem;
  border-radius: 4rem;
  transition: 0.3s;
  border: none;
  height: 5rem;
  width: 20rem;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
}

.button-1 {
  background-color: var(--third-color);
  color: var(--first-color-dark);
}
.button-1:hover {
  background-color: var(--second-color);
}

.button-2 {
  background-color: var(--first-color-dark);
  color: var(--third-color);
  margin-right: 1rem;
}

.button-2:hover {
  background-color: var(--second-color);
  color: var(--first-color-dark);
}

.button-3 {
  border: 2px solid var(--first-color-dark);
  color: var(--first-color-dark);
}

.button-3:hover {
  border: 2px solid var(--second-color);
}

.button-4 {
  background-color: var(--first-color-dark);
  color: var(--second-color);
}
.button-4:hover {
  background-color: var(--first-color);
  color: var(--first-color-dark);
}

/* ABOUT */

.about_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about_data {
  max-width: 55rem;
  margin: 3rem;
}

@media screen and (max-width: 768px) {
  .about_container {
    align-items: center;
  }

  .about_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.about_icon {
  display: block;
  font-size: 5rem;
  color: var(--first-color);
}

.about_img {
  margin: 3rem;
  justify-self: center;
  width: 35rem;
  border-radius: 0.5rem;
  position: relative;
}

.about_description {
  margin-bottom: var(--mb-2);
}

.about_img::after {
  content: "";
  position: absolute;
  top: -3rem;
  left: -3.5rem;
  border-top: 9px solid var(--second-color);
  border-left: 9px solid var(--second-color);
  height: 47rem;
  width: 34rem;
}

.about_link {
  display: block;
  color: var(--first-color-dark);
  width: fit-content;
}
.about_link:hover {
  color: var(--third-color);
  background-color: var(--first-color-dark);
  transform: translateY(-0.5rem);
}

/* COOPERATION */
.cooperation {
  background-color: var(--second-color);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

@media screen and (max-width: 768px) {
  .cooperation {
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  }
}

.cooperation_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--mb-5);
  margin-bottom: var(--mb-5);
}

@media screen and (max-width: 1200px) {
  .cooperation_cards {
    height: auto;
  }
  .cooperation-title {
    margin-top: 10rem;
  }
  .cooperation_cards {
    padding-bottom: 10rem;
  }
}

.cooperation_card {
  margin: 1rem;
  height: 28rem;
  width: 28rem;
  background-color: var(--first-color-dark);
  border-radius: 3rem;
  transition: all 0.2s ease-in;
}

.cooperation_card:hover {
  transform: translateY(-3rem);
  background-color: var(--first-color);
}

.icon-box {
  height: 8rem;
  width: 8rem;
  background-color: var(--first-color);
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  font-size: 4rem;
}

.card-title {
  color: var(--third-color);
  padding: 1.5rem 2rem;
}
.card-text {
  font-size: var(--small-font-size);
  color: var(--third-color);
  padding: 0 2rem;
}
/* PORTFOLIO */

.portfolio_items {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .portfolio_items {
    padding: 0 3rem;
  }
}

.portfolio_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.portfolio_item-text {
  width: 90%;
  max-width: 50rem;
}

.portfolio_item-title {
  margin-bottom: var(--mb-2);
}

.portfolio_item-icons {
  font-size: 3rem;
  margin-top: var(--mb-2);
}

.portfolio_item-img {
  width: 90%;
  max-width: 70rem;
}

.portfolio_item-links {
  margin: 3rem 0;
  display: flex;
}

/* CONTACT */
.contact {
  background-color: var(--second-color);
}

.contact_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
}

.contact_info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact_info-box {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-6);
}

.contact_icon-box {
  height: 8rem;
  width: 8rem;
  background-color: var(--first-color-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--third-color);
}

.contact_info-text {
  margin-left: var(--mb-2);
  color: #020c45;
}

.contact_info-text a {
  color: #020c45;
}

.contact_form {
  width: 69.3rem;
  max-width: 100%;
}

.contact_label {
  display: inline-block;
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
  padding-left: 1rem;
  margin-bottom: var(--mb-1);
}

.contact_input {
  width: 100%;
  background-color: var(--third-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  border: none;
  outline: none;
  padding: 2rem;
  border-radius: 2rem;
}

.contact_content {
  margin: 1rem 0;
}

/* FOOTER */
footer {
  background-color: var(--first-color-dark);
  color: var(--third-color);
  text-align: center;
}

.footer_container {
  padding: 3rem 0;
}

.footer_title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
}

.footer_social {
  margin-bottom: var(--mb-6);
}

.footer_link {
  font-size: 4rem;
  color: var(--third-color);
  margin: 0 var(--mb-1);
  transition: 0.3s;
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_copy {
  font-size: var(--small-font-size);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 0 2rem;
  }

  .section-title {
    margin-bottom: var(--mb-3);
  }
}
