/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");

/* VARIABLES CSS */
:root {
  --header-height: 5rem;

  /* Colors */
  --first-color: #000000;
  --second-color: #3bba9c;
  --third-color: #ffffff;
  --stroke-color: rgba(142, 142, 142, 0.61);

  /* FONTS */
  --header-font: "Montserrat", sans-serif;
  --body-font: "Source Sans Pro", sans-serif;
  --word-font: "Courgette", cursive;
  --biggest-font-size: 8rem;
  --word-font-size: 14rem;
  --h1-font-size: 4.5rem;
  --h2-font-size: 2.2rem;
  --normal-font-size: 2rem;
  --small-font-size: 1.5rem;

  /* FONT WEIGHT */

  --font-regular: 400;
  --font-bold: 700;

  /* Z INDEX */
  --z-back: 1;
  --z-front: 10;
  --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 54.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 48%;
  }
}

body {
  margin: 0;
  background-color: var(--first-color);
  width: 100vw;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2 {
  font-family: var(--header-font);
  line-height: 1.6;
}

p {
  font-family: var(--body-font);
  line-height: 1.6;
}

li {
  text-decoration: none;
  list-style: none;
}

section {
  width: 100vw;
  min-height: 100vh;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--third-color);
  transition: background-color 5000s ease-in-out 0s;
}

/* LAYOUT */
.bd-container {
  overflow: hidden;
  padding-right: 5rem;
  padding-left: 5rem;
  max-width: 1600px;
}

@media screen and (max-width: 800px) {
  .bd-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/* BUTTONS */
.button {
  border: none;
  width: 20rem;
  height: 5rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.button--black {
  background-color: var(--first-color);
  color: var(--third-color);
}

.button--white {
  background-color: var(--third-color);
  color: var(--first-color);
}

.link {
  color: var(--first-color);
}

/* HEADER */
header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* NAV */
nav {
  height: 8rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--first-color);
  font-family: var(--header-font);
  font-weight: var(--font-regular);
  font-size: 1.8rem;
  z-index: var(--z-fixed);
}

.nav__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: var(--third-color);
  text-decoration: none;
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 4rem;
}

@media screen and (max-width: 800px) {
  .nav__list {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--first-color);
    width: 100vw;
    height: 100vh;
    z-index: var(--z-fixed);
    margin-top: 8rem;
    padding: 10rem 0 0 4rem;
    overflow: hidden;
    left: -100%;
    transition: all 1s;
  }

  .nav__item {
    font-family: var(--word-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-regular);
  }

  .nav__item:not(:last-child) {
    margin: 0 0 4rem 0;
  }
}

.nav__link {
  text-decoration: none;
  color: var(--third-color);
}

/* MOBILE MENU */
@media screen and (max-width: 800px) {
  .nav__toggle {
    width: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  .toggle__bar--top {
    position: absolute;
    display: block;
    border: 1px solid var(--third-color);
    width: 4rem;
    top: 35%;
    transition: all 0.5s;
  }

  .toggle__bar--middle {
    position: absolute;
    display: block;
    border: 1px solid var(--third-color);
    width: 3rem;
    top: 50%;
    transition: all 0.5s ease-out;
  }

  .toggle__bar--bottom {
    position: absolute;
    display: block;
    border: 1px solid var(--third-color);
    width: 2rem;
    top: 65%;
    transition: all 0.5s;
  }
}

.nav__active {
  left: 0;
}

.toggle__active > .toggle__bar--top {
  top: 50%;
  transform: rotate(45deg);
}

.toggle__active > .toggle__bar--middle {
  opacity: 0;
}

.toggle__active > .toggle__bar--bottom {
  width: 4rem;
  top: 50%;
  transform: rotate(-45deg);
}

/* HOME */
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  overflow: hidden;
  padding-right: 5rem;
  padding-left: 5rem;
}

.home h1 {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 12rem;
  max-width: 100%;
}

.home__intro {
  position: relative;
  max-width: 100%;
}

.home__intro--1,
.home__intro--2,
.home__intro--3 {
  display: block;
  position: relative;
  z-index: var(--z-front);
}

.home__intro--1 {
  margin-left: 30rem;
}

.home__intro--2 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.home__intro--3 {
  margin-left: 40rem;
}

.home__intro--color {
  color: var(--second-color);
}

.home__word--1,
.home__word--2,
.home__word--3 {
  position: absolute;
  font-family: var(--word-font);
  font-size: var(--word-font-size);
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--stroke-color);
  z-index: var(--z-back);
}

.home__word--1 {
  top: -8rem;
  left: -4rem;
}

.home__word--2 {
  top: 11rem;
  right: 0rem;
}

.home__word--3 {
  bottom: -8rem;
  left: -10rem;
}

.rolling-text__container-2 {
  display: none;
}

@media screen and (max-width: 1000px) {
  .home {
    align-items: flex-start;
  }

  .home__intro--1,
  .home__intro--2,
  .home__intro--3 {
    margin: 0;
  }

  .home__word--1,
  .home__word--2,
  .home__word--3 {
    position: unset;
  }

  .home__word--dot {
    height: 2rem;
    width: 2rem;
    margin: 0 4rem;
    border-radius: 50%;
    background-color: var(--stroke-color);
  }

  .home__rolling-text {
    margin-top: 10rem;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
  }

  .rolling-text__container-1 {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    animation: slide-left 20s linear infinite;
  }

  .rolling-text__container-2 {
    display: flex;
    flex-shrink: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    animation: slide-left 20s linear infinite;
  }
}

@media screen and (max-width: 600px) {
  .home h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .home__word--1,
  .home__word--2,
  .home__word--3 {
    font-size: 10rem;
  }

  .home__rolling-text {
    margin-top: 5rem;
  }

  .home {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* ABOUT */

.about {
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.about__container img {
  width: 40rem;
  max-width: 100%;
}

.about__desc {
  width: 60%;
  min-width: 30rem;
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__desc h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.about__desc h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 3rem;
}

.about__desc hr {
  border-top: 1px solid var(--first-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  max-width: 100%;
  width: 40rem;
  margin-left: 0;
  margin-bottom: 3rem;
}

.about__desc p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
  .about__container {
    flex-wrap: wrap-reverse;
  }

  .about__desc {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-left: 0;
  }

  .about__container img {
    margin-bottom: 10rem;
  }
}

/* PORTFOLIO */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__container {
  width: 100%;
  color: var(--third-color);
}

.portfolio__container h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.portfolio__container hr {
  border-top: 1px solid var(--third-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  max-width: 100%;
  width: 40rem;
  margin-left: 0;
  margin-bottom: 4rem;
}

.swiper-slide {
  width: 100%;
  display: flex;
}

.slide__content {
  width: 40%;
  margin-right: 5rem;
}

.slide__tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: var(--header-font);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.slide__tag {
  padding: 1rem 2rem;
  border: 1px solid var(--third-color);
  margin: 0 2rem 2rem 0;
}

.slide__tag-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.slide__tag-link a {
  color: var(--third-color);
}

.slide__content p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
}

.swiper-slide img {
  width: 60%;
  height: auto;
  max-height: 50rem;
}

.swiper-navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
  font-family: var(--header-font);
  font-size: var(--h2-font-size);
}

.swiper-pagination {
  padding: 0 2rem;
}

.swiper-button-next {
  margin-right: 4rem;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .swiper-slide {
    flex-wrap: wrap-reverse;
  }

  .slide__content {
    width: 100%;
    margin-right: 2rem;
  }

  .swiper-slide img {
    width: 100%;
    margin-bottom: 5rem;
  }

  .portfolio__container {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}
/* COOPERATION */

.cooperation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-color);
}

.cooperation__container {
  width: 100%;
  display: flex;
}

.item__desc {
  transition: all 1s;
}

.accordion__items > .item__desc {
  display: none;
}

.active > .item__desc {
  display: block;
  background-color: var(--first-color);
  padding: 2rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--third-color);
  line-height: 1.6;
}

.active img {
  transform: rotate(180deg);
}

.accordion__wrapper {
  margin-top: 10rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

.accordion__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion__item h2 {
  margin: 2rem 0rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
}

.accordion__item img {
  align-self: center;
}

.cooperation__desc {
  width: 60%;
}

.cooperation__desc h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.cooperation__desc hr {
  border-top: 1px solid var(--first-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  max-width: 100%;
  width: 40rem;
  margin-left: 0;
  margin-bottom: 3rem;
}

.cooperation__desc--black {
  padding: 4rem;
  background-color: var(--first-color);
}

.cooperation__desc--black h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 3rem;
  color: var(--third-color);
}

.cooperation__desc--black p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 3rem;
  color: var(--third-color);
}

@media screen and (max-width: 800px) {
  .cooperation__container {
    flex-wrap: wrap-reverse;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .cooperation__desc {
    width: 100%;
  }

  .accordion__wrapper {
    width: 100%;
    margin-right: 0;
    margin-top: 5rem;
  }
}
/* CONTACT */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__container {
  width: 100%;
  display: flex;
}

.contact__desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

.contact__desc h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: var(--third-color);
}

.contact__desc h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--third-color);
  margin-bottom: 3rem;
}

.contact__desc a {
  font-family: var(--header-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--third-color);
}

.contact__desc hr {
  border-top: 1px solid var(--third-color);
  border-bottom: none;
  border-left: none;
  border-right: none;
  max-width: 100%;
  width: 40rem;
  margin-left: 0;
  margin-bottom: 3rem;
}

.contact__form {
  margin-top: 10rem;
  width: 50%;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
}

.contact__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact__label {
  font-family: var(--header-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--third-color);
}

.contact__input {
  padding: 1rem;
  background-color: rgba(104, 104, 104, 0.5);
  border: none;
  color: var(--third-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  font-family: var(--body-font);
}

.contact__input:focus {
  outline: none;
}

.contact__social {
  display: flex;
  margin-top: 3rem;
}

.contact__social-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 3rem;
}

@media screen and (max-width: 800px) {
  .contact__container {
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .contact__desc {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--small-font-size);
}

.footer__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 8rem;
  padding: 2rem 0;
}
